@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('http://fonts.cdnfonts.com/css/gill-sans');
body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: Lato, sans-serif;
  background-color: rgba(188, 143, 143, 0.349);
}
